<h2> {{'profile.title' | translate}} </h2>

<div class="profile-details" *ngIf="profile$ | async; let profile">
  <div class="profile-name">
    {{'profile.name.label' | translate}} {{profile.name}} </div>
  <div class="profile-email"> {{'profile.email.label' | translate}} {{profile.email}}</div>
</div>

<div>
  <webcam [trigger]="trigger$" (imageCapture)="handleSnapshot($event)"></webcam>
  <button mat-raised-button (click)="takePhoto()"> Click !</button>
</div>

<div class="rack-photo-preview" [ngClass]="{ 'preview-hidden': !hasPreview() }">
  <img alt="A beautiful photo" #filePreview src="#" class="photo-preview" />
</div>
